In [23]:
#1
my_name='Zsuzsa'
my_name

'Zsuzsa'

In [24]:
#2
age=21
age

21

In [25]:
#3
julia_age=32
age_diff=age-julia_age
age_diff

-11

In [26]:
#4
older="You are older than 21"
younger= "You are not older than 21"
if age > 21:  print(older)
else: print(younger)

You are not older than 21

In [27]:
#5
Julia_older= 'Julia is older than you'
Julia_younger='Julia is younger than you'
Julia_same='You have the same age as Julia'

if age == julia_age:  print(Julia_same)
elif age > julia_age: print(Julia_younger)
else: print(Julia_older)

Julia is older than you

In [28]:
#6

raccoon= ['Zsuzsa', 'Bial', 'Killian', 'Arjun', 'Muajad']
raccoon.sort()
print(raccoon)

first=raccoon[0]
print(first)

last=raccoon[-1]
print(last)

# print all with for loop
for i in raccoon: print(i)

['Arjun', 'Bial', 'Killian', 'Muajad', 'Zsuzsa']
Arjun
Zsuzsa
Arjun
Bial
Killian
Muajad
Zsuzsa

In [29]:
#7 Iterate through the list using a for loop, and then print every age, then only the even numbers 
#Then do the same using a while loop.

raccoon= [45, 26, 23, 45, 67]

for i in raccoon:
    print(i, end=',')

for i in raccoon:
    if i%2== 0:
     print(i)

i=0
n=len(raccoon)

while i<n:
 print(raccoon[i],end=',')
 i+=1

45,26,23,45,67,26
45,26,23,45,67,

In [30]:
#8Write a list containing numbers and print the lowest number.

nums= [45, 26, 23, 45, 67, 7]

sorted= nums.sort()
print('lowest num:', nums[0])

#Write a list containing numbers and print the highest number.

print('highest num:', nums[-1])

lowest num: 7
highest num: 67

In [38]:
#10 Use a loop to iterate over the list and print the age of each customer.
from datetime import date

today = date.today()
year=today.year


years=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

for i in years:
    print(year-i, end=',')

24,28,18,13,16,17,29,27,44,15,

In [51]:
#11  "customer_name is customer_age years old".
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

def customer_age (list):
    for i in list:
        print(f"{i['name']} is {i['age']} years old")

customer_age(customer_list)

Bob is 1999 years old
Jack is 1995 years old
Lisa is 2005 years old
Maria is 2010 years old
Ben is 2007 years old
Emma is 2006 years old
Oscar is 1994 years old
Amy is 1996 years old
Paul is 1979 years old
Etta is 2008 years old

In [53]:
#12 Given a list of ages, remove the youngest and the oldest person.

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()

ages.pop(0)
ages.pop(-1)

ages

[11, 12, 13, 14, 20, 23, 24, 25]